html,
body,
#app {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Microsoft YaHei, arial, verdana;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    overflow:hidden;
}

input,
textarea {
    outline: none;
}

.page_404,
.page_500 {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-color: #eee;
}

.page_500 .message {
    background-color: rgba(0, 0, 0, 0.8);
    color: #e8e8e8;
    font-size: 12px;
    height: 100%;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 20px;
}

.page_500 .message .error-icon {
    background-color: #E36049;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    margin:10px;
}